@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Chr M Østergaards Vej 4<br />
    8700, Horsens<br />
    <abbr title="Phone">P:</abbr>
    87 55 00 20
</address>

<address>
    <strong>Support:</strong> <a href="mailto:253900@via.dk">Support@viacinema.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:253680@example.com">Marketing@viacinema.com</a>
</address>