@model object

<!DOCTYPE html>

<html>
<head>
    <title>Movie</title>
</head>
<body>
    <h1>
        Welcome to VIA Cinema
    </h1>

    <a class="btn btn-default" href="http://localhost:56255/Movie/Welcome">Welcome</a>
</body>
</html>